@import "./blog.css";
@import "./font/flaticon.css";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import "./media-queries.css";

/*------------------------
    Header
  -------------------------*/
header{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 40px;
    display: grid;
    background-color: #ac35a2;
}

header .header-icons-container .icons{
    width: 90%;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span{
    color: white;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 100px;
}

nav .logo-container{
  margin-left: 50px;
}

nav .logo-container img{
  width: 80px;
}

nav .profile-link{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
}

nav .profile-link a{
  color: black;
  border-bottom: 1px solid black;
}

/*------------------------
    Body
  -------------------------*/

body{
  font-family: 'Courgette', cursive;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.info-name{
  color:#ac35a2;
}

.home-body{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-main{
  display: grid;
  grid-template-columns: 100%;
  height: 75%;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
}

.button-card-front{
  width: 110px;
  height: 50px;
  background: #ac35a2;
  align-items: center;
  border-radius: 15px;
}

.button-card-back{
  width: 110px;
  height: 50px;
  background: #fff;
  align-items: center;
  border-radius: 15px;
}

.button-card-front a{
  color: white;
  font-size: 18px;
}

.button-card-back a{
  color: #ac35a2;
  font-size: 18px;
}

img{
  height: inherit;
  border-radius: 30px 30px 0 0;
}

/* The flip card container - set the width and height to whatever you want. 
We have added the border property to demonstrate that the flip itself goes out of the box on hover 
(remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 80%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;  
  color: black;
  border-radius: 30px 30px 0 0;
}
.card-front-container{
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
}

/* Style the back side */
.flip-card-back {
  background-color: #ac35a2;
  color: white;
  border-radius: 30px;
  transform: rotateY(180deg);
}

/*------------------------
    Footer
  -------------------------*/

footer{
  width: 100%;
  height: 70px;
  background-color: #22272d;
  border-top: 15px solid #ac35a2;
  text-align: center;
}
footer p{
  margin-top: 10px;
  font-size: 14px;
  color: white;
}