
@media (min-width: 320px) and (max-width: 900px) {
  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .blog-posts-container .post-container {
    align-items: center;
    padding: 10px;
    max-width: 250px;
    margin-bottom: 5px;
  }

  .blog-posts-container .post-container p {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .blog-main-new{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .grid-container {
    text-align: center;
  }

  .blog-posts-container .post-container {
    display: block;
    align-items: center;
    padding: 10px;
    max-width: 95%;
    margin-bottom: 5px;
  }

  .blog-posts-container .post-container p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
